flows_raspberrypi.json
[{"id":"e6113eb5.b7a97","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c12f1ebd.5d729","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","disabled":false,"hidden":false},{"id":"a5fc07b8.3f94d8","type":"ui_group","z":"","name":"Button","tab":"c12f1ebd.5d729","disp":true,"width":"6","collapse":false},{"id":"933e02a5.e5516","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"15519d62.745813","type":"ui_group","z":"","name":"Analog","tab":"c12f1ebd.5d729","disp":true,"width":"6","collapse":false},{"id":"5b6365a9.492dec","type":"ui_button","z":"e6113eb5.b7a97","name":"","group":"a5fc07b8.3f94d8","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello World","payloadType":"str","topic":"","x":130,"y":160,"wires":[["4065d798.05be28","7373cbea.e0c224","787ff23d.59a17c","7f3a2fdb.b0a9d"]]},{"id":"7373cbea.e0c224","type":"ui_text","z":"e6113eb5.b7a97","group":"a5fc07b8.3f94d8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":160,"wires":[]},{"id":"4065d798.05be28","type":"debug","z":"e6113eb5.b7a97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":220,"wires":[]},{"id":"c9071f85.5e18b","type":"ui_gauge","z":"e6113eb5.b7a97","name":"","group":"15519d62.745813","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"150","x":350,"y":340,"wires":[]},{"id":"7759f104.9f40e","type":"ui_slider","z":"e6113eb5.b7a97","name":"","label":"slider","tooltip":"","group":"15519d62.745813","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":170,"y":340,"wires":[["c9071f85.5e18b","ee11af1d.8f2f1","bd32c8cc.6be9c8"]]},{"id":"ee11af1d.8f2f1","type":"ui_chart","z":"e6113eb5.b7a97","name":"","group":"15519d62.745813","order":2,"width":"4","height":"3","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":400,"wires":[[]]},{"id":"bd32c8cc.6be9c8","type":"ui_chart","z":"e6113eb5.b7a97","name":"","group":"15519d62.745813","order":3,"width":"2","height":"3","label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":480,"wires":[[]]},{"id":"787ff23d.59a17c","type":"ui_audio","z":"e6113eb5.b7a97","name":"","group":"a5fc07b8.3f94d8","voice":"en-US","always":"","x":340,"y":80,"wires":[]},{"id":"7f3a2fdb.b0a9d","type":"ui_toast","z":"e6113eb5.b7a97","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":340,"y":280,"wires":[]}]